<%- include('NavBar'); %>
<h2 style="text-align: center">Archive</h2>

<% ImageArray.forEach(function(Image) {  %>
    <img id="myImg" class="center" width="500" height="500" src="<%=Image.fileloc%>" alt="<%=Image.filename%>"/>
<% }); %>


<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<%- include('Footer'); %>

<script>
    var modal = document.getElementById("myModal");
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    var span = document.getElementsByClassName("close")[0];
    
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>