<%- include('Nav'); %>

<img src="logo.png" alt="logo" width="100vh" height="230" class="center"><br>

<form action="/upload" method="post" enctype="multipart/form-data">
    <label class="custom-file-upload">
        <input type="file" name="filetoupload" multiple="multiple" accept="image/jpeg, image/png, image/jpg" onchange="checkFiles()"/>
        Select Image
    </label>

    <div style="text-align:center;">
        <button class="btn btn-success" type="submit" id="uploadButton" disabled>
            Upload
        </button>
    </div>

    

</form>
    <output></output>

<%- include('Footer'); %>

<script>
    const output = document.querySelector("output")
    const input = document.querySelector("input")
    let imagesArray = []
    input.addEventListener("change", () => {
        const files = input.files
        for (let i = 0; i < files.length; i++) {
        imagesArray.push(files[i])
        }
        displayImages()
    })

    function displayImages() {
        let images = ""
        imagesArray.forEach((image, index) => {
            images +=   `<div class="image" style="text-align:center;">
                        <img src="${URL.createObjectURL(image)}" alt="image">
                        <span onclick="deleteImage(${index})">&times;</span>
                        </div>`
        })
        output.innerHTML = images
    }

    function deleteImage(index) {
        imagesArray.splice(index, 1)
        displayImages()
    }

    function checkFiles() {
        var files = document.querySelector("input").files;
        if (files.length == 0 || files.length > 10) {
            document.getElementById("uploadButton").disabled = true;
        } else {
            document.getElementById("uploadButton").disabled = false;
        }
    }

</script>