<%- include('NavBar'); %>

<h2 style="text-align: center">File uploaded successfully</h2>

<div style="text-align: center">
    <form action="/Results">
        <input type="submit" class="btn btn-primary" value="See Results" />
    </form>
</div>


<%- include('Footer'); %>
