<%- include('Nav'); %>

<img src="logo.png" alt="logo" width="100vh" height="230" class="center">

<h2 style="text-align: center">File uploaded successfully</h2>

<div style="text-align: center">
    <form action="/Results">
        <input type="submit" class="btn btn-primary" value="See Results" />
    </form>
</div>


<%- include('Footer'); %>
