
* {
    margin: 0;
    padding: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.background-image{
    background-image: url('./back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius: 20px;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: large;
}

label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}

input {
    display: none;
}

output{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
  }
  
  output .image{
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
  }
  
  output .image img{
    height: 100%;
    width: 100%;
  }
  
  output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
  }
  
  output .image span:hover {
    opacity: 0.8;
  }
  
  output .span--hidden{
    visibility: hidden;
  }